p {
    color: grey;
    background-color:khaki;
}

img {
    width: 300;
    height: 350;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

li {
    font-style: italic;
}

h1 {
    text-align: center;
}